.createPostPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  flex: 1;
}

.createPostPage form {
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 800px;
  width: 100%;
  box-shadow: 0 2px 10px 0 rgb(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 20px;
}

.createPostPage label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.titleTextarea {
  resize: vertical;
  border-radius: 10px;
  padding: 5px 10px;
  border: 1px solid rgb(214, 214, 214);
  min-height: 35px;
  max-height: 100px;
  background: none;
}

.contentTextarea {
  resize: vertical;
  border-radius: 10px;
  padding: 5px 10px;
  border: 1px solid rgb(214, 214, 214);
  min-height: 35px;
  max-height: 500px;
  background: none;
}

.titleCount {
  align-self: flex-end;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
}

.error {
  color: red;
}

.actions {
  display: flex;
  gap: 10px;
  align-self: flex-end;
}

.createPostPage button {
  background-color: blue;
  color: white;
  padding: 8px 15px;
  border-radius: 999px;
  border: none;
}
