.createPostPage {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 400px;
  flex: 1;
}

.createPostPage form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.createPostPage label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.titleTextarea {
  resize: vertical;
  border-radius: 10px;
  padding: 5px 10px;
  border: 1px solid rgb(214, 214, 214);
  min-height: 35px;
  max-height: 100px;
}

.contentTextarea {
  resize: vertical;
  border-radius: 10px;
  padding: 5px 10px;
  border: 1px solid rgb(214, 214, 214);
  min-height: 35px;
  max-height: 5ccx00px;
}

.titleCount {
  align-self: flex-end;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
}

.error {
  color: red;
  opacity: 1;
}

.error:empty {
  opacity: 0;
}

.actions {
  display: flex;
  gap: 10px;
  align-self: flex-end;
}

.createPostPage button {
  background-color: blue;
  color: white;
  padding: 8px 15px;
  border-radius: 999px;
  border: none;
}
