.homePage {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.homePage main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  justify-content: center;
  padding: 20px;
}
