.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  box-shadow: 0 2px 10px 0 rgb(0, 0, 0, 0.2);
  padding: 10px;
}

.info {
  display: flex;
  flex-direction: column;
}

.navPostButton {
}
