.sidebar {
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: sticky;
  top: 70px;
  height: calc(100vh - 70px);
  width: 250px;
  box-shadow: 0 2px 10px 0 rgb(0, 0, 0, 0.2);
  margin-left: 0;
  transition: margin-left 0.1s;
}

.selected {
  background-color: rgb(219, 219, 255);
  border-radius: 10px;
}

.closed {
  margin-left: -250px;
}

.sidebar img {
  height: 25px;
}

.sidebar li {
  list-style: none;
  color: black;
}

.link:hover {
  background-color: rgb(241, 241, 255);
}

.link:active {
  background-color: rgb(219, 219, 255);
}

.link {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
}
